

<header>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_page.css') }}">

	<h1 style="text-align:  center; margin-top: 2.3rem; padding: 20px 20px">Delete profile?</h1>
	<div class="container">





  <form action="" action="/" method="post" name="myForm" autocomplete="on"  enctype="multipart/form-data">

	  <input style="margin: 0px 400px" type="submit" name='yes' value="YES">
	  <input style="margin: 0px 404px" type="submit" name='no' value="NO">

  </form>
</div>

</header>




