{% extends 'flash_errors.html' %}

{% block content %}

<header>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_page.css') }}">
	<div class="container">

		<div class="profile">

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{name}} {{second_name}}</h1>

				<button class="btn profile-edit-btn" onclick="window.location.href='{{ url_for( 'like_liker_profile', id=profile_id ) }}';">Like!</button>

				<button class="btn profile-edit-btn" onclick="window.location.href='{{ url_for( 'user_likes' ) }}';">Back</button>

			</div>


			<div class="profile-bio">
				<p><span class="profile-real-name">About me: </span>{{biography}}</p>
			</div>

			<div class="profile-bio">
				<p><span class="profile-real-name">City: </span>{{city}}</p>
			</div>

			<div class="profile-bio">
				<p><span class="profile-real-name">Gender: </span>{{gender}}</p>
			</div>

			<div class="profile-bio">
				<p><span class="profile-real-name">Age: </span>{{age}}</p>
			</div>

			{%if is_liked %}
			<div class="profile-bio">
				<p><span style="text-align: center" class="profile-real-name">Contact: </span><b>{{vk_inst}}</b></p>
			</div>
			{% else %}
			<div class="profile-bio">
				<p><span style="text-align: center" class="profile-real-name">Like to see contact</span></p>
			</div>
			{% endif %}



		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

{% endblock %}